#register-wrapper
  width 100%
  height 100%
  overflow hidden
  background-size cover
  background-image: linear-gradient(#83a4d4, #b6fbff);
  display flex
  flex-direction column
  justify-content center
  align-items center
  .title
    display inline-block
    margin-bottom 40px
    color white
    font-size 80px
  .demo-ruleForm
    width 80%
